<template>
  <div class="row">
      <div class="col-md-12 col-sm-12 table-responsive">
          <table class="table table-striped">
              <tr>
                  <th>Precio Actual</th>
                  <th>Precio más alto</th>
                  <th>Precio más bajo</th>
                  <th>Fecha</th>
              </tr>
              <tr v-for="price in prices">
                  <td>${{ price.last }}</td>
                  <td>${{ price.high }}</td>
                  <td>${{ price.low }}</td>
                  <td>{{ price.created_at }}</td>
              </tr>
          </table>
      </div>
  </div>
</template>

<script>
    export default {
        data() {
            return {
                prices: [],
                price: {
                    id: 0,
                    last: '',
                    high: '',
                    low: '',
                    created_at: ''

                }
            }
        },
        mounted() {
            this.getPrices()
        },
        methods: {
            getPrices() {
                axios.get('/api/bitso').then(response => {
                    this.prices = response.data
                })
            }
        }
    }
</script>

<style>

</style>
